@import "tailwindcss";

:root {

  --background: #F7F3ED;

  --foreground: #3A2C22;

  --primary: #C66A1C;

  --gold: #E7B347;

  --dark: #1B1B1B;

  --card: rgba(255,255,255,.75);

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{

  background:linear-gradient(
    180deg,
    #FFF9F2 0%,
    #F7F3ED 100%
  );

  color:var(--foreground);

  font-family:var(--font-inter);

  min-height:100vh;

}

h1,h2,h3,h4,h5,h6{

  font-family:var(--font-playfair);

}

button{

  cursor:pointer;

  transition:.25s;

}

button:hover{

  transform:translateY(-2px);

}

.glass{

  background:rgba(255,255,255,.72);

  backdrop-filter:blur(16px);

  border:1px solid rgba(255,255,255,.45);

  box-shadow:
  0 15px 40px rgba(0,0,0,.08);

}

.primary-btn{

  background:var(--primary);

  color:white;

  border-radius:18px;

  padding:14px 28px;

  font-weight:700;

}

.primary-btn:hover{

  background:#B85F16;

}

.gold{

  color:var(--gold);

}

.shadow-soft{

  box-shadow:

  0 10px 40px rgba(0,0,0,.08);

}